{% extends 'base.html.twig' %}

{% block title %}Ajouter un Illustrateur{% endblock %}
{% block h1 %}Ajouter un Illustrateur {% endblock %}

{% block body %}
   

    {{ include('illustrateur/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_illustrateur_index') }}">Retour</a>
{% endblock %}
