{% extends "base.html.twig" %}
{% block title %}Mon panier{% endblock %}
{% block h1 %}Mon panier{% endblock %}

{% block body %}

    {% if app.user %}
        <a class="btn btn-success" href="{{path('app_stripe')}}">Payer</a>
    {% else %}
        <h2>Veuillez vous connecter</h2>
    {% endif %}
    
{% endblock %}