{% extends 'base.html.twig' %}

{% block title %}Modifier les genres{% endblock %}
{% block h1 %}Modifier {{ genre.id }}{% endblock %}

{% block body %}
   

    {{ include('genre/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_genre_index') }}">Retour</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
