{% extends 'base.html.twig' %}

{% block title %}Ajouter un genre{% endblock %}
{% block h1 %}Ajouter un genre {% endblock %}

{% block body %}
    <h3>Ajouter un genre </h3>

    {{ include('genre/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_genre_index') }}">Retour</a>
{% endblock %}
