{% extends 'base.html.twig' %}

{% block title %}Modifier les tranches d'âge{% endblock %}
{% block h1 %}Modifier {{ age.id }}{% endblock %}
{% block body %}
  

    {{ include('age/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-dark" href="{{ path('app_age_index') }}">Retour</a>

    {{ include('age/_delete_form.html.twig') }}
{% endblock %}
