{% extends 'base.html.twig' %}

{% block title %}Ajouter une tranche d'âge {% endblock %}
{% block h1 %}Ajouter une tranche d'âge {% endblock %}
{% block body %}

    {{ include('age/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_age_index') }}">Retour</a>
    
{% endblock %}
