{% extends 'base.html.twig' %}
{% block title %}Nos illustrateurTrices{% endblock %}
{% block h1 %}Nos illustrateurTrices{% endblock %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-6">
            <div class="card custom-card mx-2">
                <img src="/imageIllustrateur/catalystFreepik.jpg" class="card-img-top"  width="100" height="250" alt="...">
                <div class="card-body">
                    <p class="card-text">Catalyst Freepik</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-6">
            <div class="card custom-card mx-2">
                <img src="/imageIllustrateur/tristanLane.jpg" class="card-img-top"  width="100" height="250" alt="...">
                <div class="card-body">
                    <p class="card-text">tristanLane</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-6">
            <div class="card custom-card mx-2">
                <img src="/imageIllustrateur/ninoLo.jpg" class="card-img-top"  width="100" height="250" alt="...">
                <div class="card-body">
                    <p class="card-text">Nino Lo</p>
                </div>
            </div>    
        </div>
        <div class="col-md-3 mb-6">
            <div class="card custom-card mx-2">
                <img src="/imageIllustrateur/presentationLiliSwan.jpg" class="card-img-top"  width="100" height="250"  alt="">
                <div class="card-body">
                    <p class="card-text">Lili Swan</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
