{% extends 'base.html.twig' %}
{% block title %}Nos illustrateurTrices{% endblock %}
{% block h1 %}Nos illustrateurTrices{% endblock %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 p-4">
        <div class="card mx-2" style="width: 18rem;">
            <img src="/imageIllustrateur/catalystFreepik.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Catalyst Freepik</p>
            </div>
        </div>
        </div>
        <div class="col-md-3 p-4">
        <div class="card mx-2" style="width: 18rem;">
            <img src="/imageIllustrateur/flo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Flo</p>
            </div>
        </div>
        </div>
        <div class="col-md-3 mb-4">
        <div class="card mx-2" style="width: 18rem;">
            <img src="/imageIllustrateur/presentationLiliSwan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Lili Swan</p>
            </div>
        </div>
        </div>
        <div class="col-md-3 mb-4">
        <div class="card mx-2" style="width: 18rem;">
            <img src="/imageIllustrateur/ninoLo.jpg" class="card-img-top" alt="">
            <div class="card-body">
            <p class="card-text">Nino Lo</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}