{% extends 'base.html.twig' %}
{% block title %}L'univers Fantastic{% endblock %}

{% block body %}
    <div class="container mb-6 mt-4">
        <div class="row">
            <div class="col-md-10 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>L'univers Fantastic</h2>
                    </div>
                    <div class="card-body mt-2 d-flex">
                        <!-- Colonne pour l'image -->
                        <div class="col-md-4">
                            <img src="{{ asset('image/port-8754737_640.jpg') }}" class="img-fluid rounded-start" alt="Image de l'édito">
                        </div>
                        <!-- Colonne pour le texte -->
                        <div class="col-md-8">
                            <p class="card-text">
                                Bienvenue dans le monde merveilleux des Éditions Fantastic, où chaque page tournée est une porte ouverte sur l'imaginaire et l'aventure. Notre maison d'éditions indépendante se consacre à la magie du fantastique, accessible à tous et pour tous les âges, car nous croyons que les rêves ne connaissent pas de frontières.
                            </p>
                            <p class="card-text">
                                **Le Fantastique pour Tous**
                                Chez Fantastic, nous sommes animés par la passion de l'évasion littéraire. Nos histoires sont des invitations à explorer des univers où le possible et l'impossible se rencontrent, où les héros et héroïnes affrontent dragons et sortilèges avec bravoure. Nous offrons une littérature qui s'adapte à chaque lecteur, du jeune enfant émerveillé par les contes de fées au grand-parent partageant des légendes oubliées.

                            </p>
                            <p class="card-text">
                                **La Protection de la Nature**
                                Nos récits sont imprégnés d'une profonde vénération pour la nature. À travers des aventures épiques dans des forêts enchantées ou des océans mystérieux, nous sensibilisons nos lecteurs à la beauté et à la fragilité de notre environnement. Les Éditions Fantastic s'engagent à utiliser des matériaux écologiques et à soutenir des initiatives de conservation, car nous croyons que chaque livre doit laisser une empreinte dans l'esprit, non dans la nature.


                            </p>
                            <p class="card-text">
                                **Le Mieux Vivre Ensemble**
                                Nous sommes convaincus que la littérature fantastique est un puissant vecteur de cohésion sociale. Nos histoires célèbrent la diversité, l'entraide et la compréhension mutuelle. Elles sont des ponts entre les cultures et les générations, invitant chacun à bâtir un monde où la différence est une force et non une faiblesse.
                            </p>

                            <p class="card-text">
                                Les Éditions Fantastic sont plus qu'une maison d'éditions ; nous sommes une communauté de rêveurs, d'explorateurs et de gardiens de la terre. Rejoignez-nous dans cette aventure littéraire où chaque livre est une promesse d'émerveillement et d'inspiration pour un avenir meilleur.
                            </p>
                            <p class="card-text">
                                Ensemble, tournons les pages d'un futur où le fantastique, la nature et l'harmonie tissent le récit d'une vie enrichissante pour tous.
                            </p>
                            <p class="card-text text-end">
                                L'équipe Fantastic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
