{% extends 'base.html.twig' %}

{% block title %}Modifier les Adresses de livraison{% endblock %}
{% block h1 %}Modifier {{ adresse_livraison.id }}{% endblock %}
{% block body %}
 

    {{ include('adresse_livraison/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-dark" href="{{ path('app_adresse_livraison_index') }}">Retour</a>

    {{ include('adresse_livraison/_delete_form.html.twig') }}
{% endblock %}
