{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse de livraison{% endblock %}
{% block h1 %}Ajouter une adresse de livraison{% endblock %}
{% block body %}
    
    {{ include('adresse_livraison/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_adresse_livraison_index') }}">Retour</a>
{% endblock %}
