{% extends 'base.html.twig' %}

{% block title %}Modifier les auteurs{% endblock %}
{% block h1 %}Modifier {{ auteur.id }}{% endblock %}
{% block body %}


    {{ include('auteur/_form.html.twig', {'button_label': 'Modfifier'}) }}

    <a class="btn btn-dark"  href="{{ path('app_auteur_index') }}">Retour</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
