{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur{% endblock %}
{% block h1 %}Ajouter un auteur {% endblock %}

{% block body %}
    
    {{ include('auteur/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_auteur_index') }}">Retour</a>
{% endblock %}
