<form method="post" action="{{ path('app_historique_delete', {'id': historique.id}) }}" onsubmit="return confirm( 'Etes-vous sûr de vouloir supprimer l'historique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historique.id) }}">
    <button class="btn btn-danger mt-2 ">Supprimer</button>
</form>
