{% extends 'base.html.twig' %}

{% block title %}Formulaire de paiement{% endblock %}
{% block h1 %}Formulaire de paiement{% endblock %}

{% block body %}
    <form action="{{ path('process_payment')}}" method="post">
        <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{stripe_public_key}}"
            data-amount= "{{montant}}"
            data-name= "EdFantastic "
            data-currency="eur"
            data-locale="auto"
        >
        
        </script>
    </form>
{% endblock %}