{% extends 'base.html.twig' %}

{% block title %}Ajouter un thème{% endblock %}
{% block h1 %}Ajouter un thème {% endblock %}

{% block body %}

    {{ include('theme/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_theme_index') }}">Retour</a>
{% endblock %}
