<form method="post" action="{{ path('app_adresse_facture_delete', {'id': adresse_facture.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse_facture.id) }}">
    <button class="btn btn-danger mt-2 ">Supprimer</button>
</form>
