{% extends 'base.html.twig' %}

{% block title %}Modifier l'adresse de facturation{% endblock %}
{% block h1 %}Modifier {{ adresse_facture.id }}{% endblock %}
{% block body %}
   

    {{ include('adresse_facture/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-dark" href="{{ path('app_adresse_facture_index') }}">Retour</a>

    {{ include('adresse_facture/_delete_form.html.twig') }}
{% endblock %}
