{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse de facturation{% endblock %}
{% block h1 %}Ajouter une adresse de facturation{% endblock %}
{% block body %}
    
    {{ include('adresse_facture/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_adresse_facture_index') }}">Retour</a>
{% endblock %}
